/*Author & City */
@import url('https://fonts.googleapis.com/css?family=Parisienne');

/*Country & Headfont */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


* {
    box-sizing: border-box;
    font-family: "Titillium Web";
}

main{
    margin-top: 60px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
    font-weight: 300;
    overflow-x: hidden;
    overflow-y: visible;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.42);
}

a {
    text-decoration: none;
    color: purple;
}

i{
    color: rgb(66, 66, 66);
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}