/*Author & City */
@import url('https://fonts.googleapis.com/css?family=Parisienne');

/*Country & Headfont */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


* {
    box-sizing: border-box;
    font-family: "Titillium Web";
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web';
    font-weight: 300;
    overflow-x: hidden;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.42);
}

a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

nav {
    top:0;
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.918);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.116);
    z-index: 1;
}

#logo {
	margin: 0;
	font-size: 18px;
    position: absolute;
}

nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
    line-height: 0;
    flex-grow: 1;
}

#logo > a, nav > ul > li{
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

#logo > a, nav > ul > li:first-child{
    flex-grow: 1;
    justify-content: flex-end;
}

nav a > span{
    margin-left: 10px;
    display: none;
}

nav a{
    display: flex;
    align-items: center;
}

#account_container, input, label{
    display: block;
}

#search_container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    transition: .7s cubic-bezier(.46, .89, .25, 1);
}

#search_container::after{
    font-family: "Material Icons";
    content: "search";
    font-size: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    transition: transform .2s;
}

#search_container:hover::after, #search_container:focus-within::after{
    transform: translateX(-15px);
}

#search_container > input[type=text]{
    visibility: hidden;
    display: block;
    padding: 6px;
    width: 100%;
    top: 10px;
    left: 0;
    border: solid rgba(0, 0, 0, 0.31) 1px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    font-weight: 300;
    text-indent: 10px;
    opacity: 0;
    transform: scale(0.9);
    transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#search_container:hover > input[type=text], #search_container:focus-within > input[type=text]{
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

i{
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#search_container:focus-within > a > i{
    transform: translateX(100px);
}

/*För större skärmar*/
@media (min-width:768px){
    nav a > span{
        display: block;
    }
    #search_container{
        margin-left: 135px;
        max-width: 40px;
    }
    
    #search_container:hover, #search_container:focus-within{
        max-width: 500px;
    }
}