body{
    margin: 0;
}

.timeline{
    position: fixed;
    margin-left: 15px;
    top: 70px;
    height: calc(100% - 95px);
}

.timeline_container{
    max-height: 100%;
    overflow: auto;
    width: 80px;
    padding-top: 15px;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    /* Förhindrar att man markera text i tidslinjen när man drar i den */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Tar bort scrollbar, det går ändå att scrolla */
.timeline_container::-webkit-scrollbar { 
    display: none; 
}

.timeline_year > .year, .timeline_date{
    position: relative;
    width: 60px;
    height: 60px;
    background-color: rgba(0,0,0,0.4);
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin: 15px 0;
    cursor: pointer;
}

.timeline_year > .year{
    border-radius: 30%;
    /* Line-height är 60px eftersom .timeline_year har höjden 60px, då placeras texten i mitten (vertikalt) */
    line-height: 60px;
    width: 80px;
}
.timeline_date{
    margin-left: 10px;
    border-radius: 50%;
}
.timeline_year > .year::before, .timeline_date::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 15px;
    /* top är 60px eftersom .timeline_year och .timeline_date har höjden 60px */
    top: -15px;
    /* right är calc(50% - 2px) eftersom bredden på linjen är 4. Då hamnar det exakt i mitten */
    right: calc(50% - 2px);
    background-color: rgba(0,0,0,0.4);
}

.timeline_date > *{
    width: 100%;
    margin: 0;
    /* Line-height är 30px eftersom .timeline_date har höjden 60px och det ska finnas två rader,
    då placeras texten i mitten (vertikalt) */
    line-height: 30px;
}