#album_container{
    margin-top: 120px;
}

#post_image_container{
    
}

#post_image_container>img{
    display: block;
    width: 100%;
}


#post_description_container{
    background-color: red;
    min-height: 50vh;
}