#album_container{
    margin-top: 120px;
}

#post_image_container{
    
}

#post_image_container>img{
    display: block;
    width: 100%;
}


#post_description_container{
   min-height: 10vh;
}

#post_text_description_container>h1{
    text-align: center;
    font-size: 5vw;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;

}

#post_text_description_container>h3{
    text-align: center;
    font-size: 3vw;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
    border-bottom: 2px solid black;
    margin-left: 300px;
    margin-right: 300px;
}


#post_text_description_container>p{
    font-size: 3vw;
    font-family: 'helvetica', sans-serif;
    font-weight: 100;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    
}