main{
    display: grid;
    grid-template-columns: 200px 1fr;
    padding: 15px;
}

main > form > label{
    margin-top: 12px;
    display: block;
}

main > section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#upload_btn{
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 150px;
    cursor: pointer;
}
#upload_btn::before{
    position: absolute;
    font-family: "Material Icons";
    content: "add_circle";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: white;
}
#upload{
    display: none;
}

.post, #upload_btn{
    position: relative;
    display: block;
    margin: 15px;
}

.post > img{
    width: 200px;
    display: block;
}

.post > p{
    position: absolute;
    margin: 0;
    left: 5px;
    top: 0;
    color: blue;
}

.post > i{
    position: absolute;
    right: 5px;
    cursor: pointer;
    color: blue;
}
.post > i:first-child{
    top: 5px;
}
.post > i:last-child{
    bottom: 5px;
}