.album_grid_container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}

.cancel_upload{
    position: absolute;
    top: 15px;
    left: 15px;
}

#album_info_btn{
    position: absolute;
    padding: 20px;
    left: 20px;

}
#preview {
    margin: 20px;
    display: grid;
    grid-gap: 20px;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
}

#upload {
    display: none;
}

#upload_btn {
    background-color: white;
    border: none;
    text-align: center;
}

#upload_btn::before {
    position: absolute;
    font-family: "Material Icons";
    content: "add_circle";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
}

.post,
#upload_btn {
    position: relative;
    height: 168px;
    transform: none;
    box-shadow: 0 2px 5px var(--shadow_color);
    animation: fade_in .5s forwards;
    transition: box-shadow .2s;
}

.post:hover,
#upload_btn:hover{
    box-shadow: 0 5px 10px var(--shadow_color);
}

.post>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.post>.button_container, .post>i.reorder{
    position: absolute;
    z-index: 1;
}

.post>.button_container.img_close{
    top: 0;
    right: 0;
}

.post>.button_container.img_modal_open{
    bottom: 0;
    left: 0;
}

.post>i.reorder {
    bottom: 5px;
    right: 5px;
}

/* Egen animation för bildinformation-formulär */
form.image_info{
    transform: translateY(500px);
    transition: transform .3s cubic-bezier(0.275, 0.82, 0.165, 1);
}

form.image_info.is_visible{
    transform: none;
}

form.image_info{
    top: 60px;
    min-height: 500px;
}

form.image_info>.img_preview {
    height: 150px;
    width: 250px;
    object-fit: cover;
}

form.image_info textarea {
    resize: none;
    min-height: calc(100vh - 600px);
    overflow-y: scroll;
}

#upload_progress_bar{
    z-index: 1;
}

@media (min-width:768px) {
    .album_grid_container{
        grid-template-columns: 300px 3fr;
    }

    #upload_form > fieldset{
        position: fixed;
        width: 300px;
        box-shadow: 0 2px 5px var(--shadow_color);
    }

    .post>i.reorder {
        display: none;
    }

    form.image_info {
        top: 0;
    }
}

