.album_grid_container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "upload_form"
        "preview";
}

.progress_bar {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 3px;
    /*background-color: rgb(111, 202, 255); ska ej synas vid utveckling*/
}

#upload_form {
    text-align: center;
    grid-area: "upload_form";
}

fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

#preview {
    margin: 20px;
    display: grid;
    grid-gap: 30px;
    grid-area: "preview";
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(280px, 280px));
}

#upload {
    display: none;
}

#upload_btn {
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
}

#upload_btn::before {
    position: absolute;
    font-family: "Material Icons";
    content: "add_circle";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    color: rgb(66, 66, 66);
}

.post,
#upload_btn {
    position: relative;
    display: block;
    height: 200px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.24);
    animation: fade_in .5s forwards;
}

.post>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.button_container{
    position: absolute;
    z-index: 1;
}

.img_close{
    top: 0;
    right: 0;
}

.img_info{
    bottom: 0;
    left: 0;
}

.post>i.reorder {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}

.image_info {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    max-width: 800px;
}

.image_info>.img_preview {
    height: 150px;
}

.image_info textarea {
    resize: none;
    min-height: calc(100vh - 600px);
}

.cancel_modal {
    position: absolute;
    right: 15px;
    top: 15px;
}

#modal {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transform-origin: bottom;
    visibility: hidden;
    transition: transform .5s, visibility .5s, opacity .5s;
    transition-timing-function: cubic-bezier(0.275, 0.82, 0.165, 1);
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.404);
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
}

#modal.is_visible {
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media (min-width:768px) {
    .album_grid_container{
        grid-template-columns: 350px 3fr;
    }
    #upload_form > fieldset{
        position: fixed;
        width: 350px;
    }

    .post>i.reorder {
        display: none;
    }

    #modal{
        transform: none;
        opacity: 0;
    }

    .image_info {
        width: 80vw;
        height: auto;
        border-radius: 5px;
    }
}