.tabs {
    position: fixed;
    top: 0;
    transform: translateY(none);
    height: 60px;
    width: 100%;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease;
    margin: auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 5px var(--shadow_color);
}

#explore_tabs.is_visible {
    transform: translateY(60px);
}

.tabs > .explore_tab {
    position: relative;
    display: flex;
    flex-grow: 1;
    max-width: 250px;
    justify-content:space-around;
    color: rgb(66,66,66);
    height: 100%;
}

.tabs > .explore_tab::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
    bottom: 0;
    transform: scaleX(0);
    opacity: 0;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#explore_tabs>.explore_tab::after{
    opacity: 1;
}

#explore_tabs>.following::after{
    transform-origin: right;
}

#explore_tabs>.explore::after{
    transform-origin: left;
}

.tabs > .explore_tab:hover::after,
.tabs > .explore_tab.active::after {
    transform: none;
    opacity: 1;
}

.tabs > .explore_tab > h2{
    font-size: 18px;
    font-weight: 500;
}

.tabs > .explore_tab.following>h2::before,
.tabs > .explore_tab.explore>h2::before{
    font-family: "Material Icons Outlined";
    transform: translateX(-25px);
    position: absolute;
    top: 20px;
}

.tabs>.explore_tab.following>h2::before {
    content: "people";
}

.tabs>.explore_tab.explore>h2::before {
    content: "public";
}