.flashes>div {
    position: fixed;
    top: 62px;
    color: white;
    text-align: center;
    box-shadow: 0 0 5px black;
    width: 100%;
    z-index: 1;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.flashes>div.error {
    background-color: rgb(223, 71, 71);
    display: none;
}

.flashes>div.success {
    background-color: rgba(99, 187, 114, 0.973);
    animation-name: fade_out;
    animation-duration: 0.3s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.075, 0.32, 0.365, 1);

}

.flashes>div.success>.close_flash {
    display: none;
}

.flashes>div.cookie {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    top: auto;
}

.close_flash {
    background-color: beige;
}

@keyframes fade_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        top: 0;
    }
}