body{
    overflow: hidden;
    margin-top: 0;
}

main{
    overflow-y:auto;
    overflow-x: hidden;
    height: calc(100vh);
    perspective: 2px;
}

#about_video{
    overflow: hidden;
    position: relative;
    height: calc(100vh - 60px);
}

#about_video>video{
    position: absolute;
    display:block;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: translateZ(-1px) scale(1.5);
}

section:last-child{
    z-index: 3;
    background-color: white;
}

#explore_tabs{
    position: sticky;
}

#about_us>h2{
    text-align: center;
    font-size: 28px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
}

hr{ 
    display: none;
    margin-left: 250px;
    margin-right: 250px;
    border-style: solid;
    border-width: 1px;
} 

#about_us>p{
    font-size: 16px;
    font-family: 'helvetica', sans-serif;
    font-weight: 100;
    margin: 0 20px;
}

#profile_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    width: 300px;
  }

.card>img{
    border-radius: 50%;
    box-shadow: 0 2px 5px #c8c8c8;
    padding: 10px;
    margin: 5px;
    width: 45%;
}

.name{
    margin: 0;
    color: black;
    font-size: 22px;
}

  .title{
    color: black;
    font-size: 18px;
    margin: 10px;
   
  }

  .card>button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: rgb(79, 173, 236);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    display: block;
    margin-top: 15px;
  }

  #info_container>#profile_cards>.card>#social_icons>a{
    text-decoration: none;
    font-size: 22px;
    color: black;
    
  }

  .card>button:hover, #info_container>#profile_cards>.card>#social_icons>a:hover{
    opacity: 0.7;
  }