#info_container{
    display: grid;
}

#about_video{
    overflow:hidden;
}

#about_video>video{
    display:block;
    width: 100%;
    height: calc(100vh - 120px);
    object-fit: cover;
    object-position: center;

}

#explore_tabs{
    position: sticky;
}

#about_us{
   
   
}

#about_us>h2{
    text-align: center;
    font-size: 28px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
}

hr{ 
    display: none;
    margin-left: 250px;
    margin-right: 250px;
    border-style: solid;
    border-width: 1px;
} 

#about_us>p{
    font-size: 16px;
    font-family: 'helvetica', sans-serif;
    font-weight: 100;
    margin: 0 20px;
}

#profile_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    width: 40%;
  }
.name{
    margin: 0;
    color: black;
    font-size: 22px;

}
  
  .title{
    color: black;
    font-size: 18px;
   
  }
  
  profile_card_button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: rgb(80, 79, 79);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  #info_container>profile_cards>card>a{
    text-decoration: none;
    font-size: 22px;
    color: black;
  }

  
  profile_card_button:hover, #info_container>profile_cards>card>a:hover{
    opacity: 0.7;
  }
