.album {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 20px 0;
    box-shadow: 0 3px 5px var(--shadow_color);
    height: 300px;
}

.album:last-child {
    margin: 0;
}

.album>img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 300px;
    object-fit: cover;
    object-position: center;
}

.info_circle {
    height: 280px;
    width: 280px;
    left: 50%;
    top: 50%;
    border-radius: 100%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.3s;
    box-shadow: 0 5px 5px var(--shadow_color);
}

.info_circle:hover {
    background-color: white;
}

.info_circle>* {
    margin: 0;
}

.info_circle>.city {
    font-size: 33px;
    font-family: 'Parisienne';
    font-weight: 100;
}

.info_circle>.country {
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 200;
}

.info_circle>.material-icons {
    font-size: 30px;
    margin: 2vw 0;
}

.info_circle>.author {
    margin: 0 20px;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}

@media (min-width:600px){
    .album{
        height: calc(100vh - 60px);
        min-height: 600px;
    }
    .info_circle{
        height: 380px;
        width: 380px;
    }
}

@media (min-width:768px){
    .album{
        min-height: 800px;
    }
    .info_circle{
        height: 500px;
        width: 500px;
    }
    .info_circle>.city {
        font-size: 37px;
    }
    
    .info_circle>.country {
        font-size: 23px;
    }
    
    .info_circle>.material-icons {
        font-size: 37px;
    }
    
    .info_circle>.author {
        font-size: 20px;
    }
}

@media (min-width:1000px){
    .info_circle{
        height: 620px;
        width: 620px;
    }
}