#login_register_modal>form {
    transform: scale(0) translate(-200px, 300px);
    transform-origin: top right;
    transition: .4s cubic-bezier(0.375, 0.82, 0.165, 1);
    opacity: 0;
    position: absolute;
}

#login_register_modal>form:target {
    transform: none;
    opacity: 1;
    visibility: visible;
}

@media (min-width:768px){
    #login_register_modal>form{
        max-width: 400px;
    }
}