#modal > form{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .3s;
}

#modal > form:target{
    opacity: 1;
    visibility: visible;
}

#modal fieldset{
    background-color: white;
    margin: 0;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 500px;
    border: none;
    border-radius: 50px;
    transform: scale(0) translate(-200px, 300px);
    transform-origin: top right;
    transition: .4s cubic-bezier(.8, .23, .23, .99);
    text-align: center;
    overflow-y: auto;
}

#modal > form:target > fieldset{
    transform: none;
    border-radius: .5vw;
    transition: .5s cubic-bezier(.57, .66, 0, 1);
}

#modal > form > fieldset > .form_row{
    display: flex;
    flex-wrap: wrap;
}

#modal .input_container{
    position: relative;
    flex-grow: 1;
    min-width: 200px;
    margin: 10px;
}

#modal span{
    pointer-events: none;
    position:absolute;
    line-height:40px;
    left:0;
    top:0;
    transition: .2s ease;
    opacity:0.5;
}

#modal fieldset input, #modal fieldset button{
    height: 40px;
    width: 100%;
    border: 1px solid #efefef;
    outline: none;
    box-shadow: 0 0 3px rgba(232, 232, 232, 0);
    transition: box-shadow .2s;
}

#modal fieldset input, #modal fieldset .input_container > span, #modal > form > fieldset > .form_row{
    padding: 0 10px;
}

#modal fieldset input:focus{
    box-shadow: 0 0 3px rgb(221, 221, 221);
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:1;
    font-size: 11px;
  transform: translateY(-30px) translateX(-10px);
}

#modal fieldset button{
    border: none;
    margin: 20px 0;
    font-size: 16px;
    background: rgba(230, 230, 230, 0.27);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    transition: box-shadow .2s, background-color .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

#modal fieldset button::before{
    content: '';
    position: absolute;
    background: rgba(230, 230, 230, 0.63);
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: .4s cubic-bezier(.51, .03, 0, 1);
    transform-origin: right;
    z-index: -1;
}

#modal fieldset button:hover::before{
    transform: scaleX(1);
}

#login > fieldset button::after, #register > fieldset button::after{
    font-family: "Material Icons";
    content: 'input';
    margin-left: 7px;
}

#modal .cancel_modal > i{
    position: absolute;
    top: 12px;
    right: 15px;
    border-radius: 100%;
    transition: .2s cubic-bezier(.19, .83, .34, .97);
}

@media (max-width:768px){
    #modal > form fieldset{
        height: 100%;
        max-width: none;
    }
    
    #modal > form:target fieldset{
        border-radius: 0;
    }
    
    #modal span{
        transition-delay: .2s;
    }
}