nav {
    top:0;
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.918);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.116);
    z-index: 2;
    transform: translateY(-60px);
    transition: .2s ease;
}

nav.is_visible{
    transform: none;
}

#logo {
	margin: 0 0 0 10px;
    position: absolute;
    font-family: Parisienne;
    z-index: 1;
}

#logo_wide{
    display:none;
}

nav a{
    color: rgb(66, 66, 66);
}

nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 16px;
}

nav > #left{
    justify-content: space-between;
    flex-grow: 1;
    display: flex;
    align-items: center;
    z-index: 2;
}

#logo > a, nav > ul > li{
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

nav a > label, nav a > span{
    margin-left: 10px;
    display: none;
}

nav a:not(.dropdown_link){
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    min-width: 60px;
    padding: 0 10px;
}

#search_container{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    background-color: transparent;
    transition: background-color .3s cubic-bezier(.83, .27, 0, 1), flex-grow .3s cubic-bezier(.83, .27, 0, 1);
}

#search_container label{
    z-index: 1;
    transition: .4s cubic-bezier(.87, .06, .23, .97);
    transition-delay: .3s;
}

#search_container:focus-within label{
    transition: transform .4s;
}

#search_container > input[type=text]{
    z-index: 2;
    position: fixed;
    font-family: "Titillium Web";
    display: block;
    width: calc(100% - 20px);
    height:40px;
    border: solid rgb(206, 206, 206) 1px;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    opacity: 0;
    transform: translateY(-60px);
    transition: .3s cubic-bezier(.87, .06, .39, 1);
    transition-delay: .3s;
    right: 10px;
    text-indent: 10px;
}

#search_container:focus-within > input[type=text]{
    visibility: visible;
    transform: none;
    opacity: 1;
    transition: .4s cubic-bezier(.83, .27, 0, 1);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.103);
    z-index: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: .3s cubic-bezier(0.175, 0.32, 0.1, 1);
    right: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}

.dropdown-content a {
    height: 40px;
    line-height: 40px;
    padding: 0 16px;
    text-decoration: none;
    display: block;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.918);
    transition: background-color .2s;
}

.dropdown-content a:last-child{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.dropdown-content a:hover{
    background-color: rgba(245, 245, 245, 0.918);
}

.dropdown i{
    z-index: -1;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
    transform: none;
    transition: .3s cubic-bezier(0.175, 0.32, 0.1, 1);
}

/*För större skärmar*/
@media (min-width:480px){
    #logo_icon{
        display:none;
    }

    #logo_wide{
        display: block;
    }
}

@media (min-width:768px){
    nav a > label, nav a > span{
        display: block;
    }
    
    #search_container > input[type=text]{
        position: relative;
        transform-origin: right;
        transform: scaleX(0);
        margin:0 10px;
        right: 0;
    }
}