#profile_container {
    position: relative;
}

#profile_container>i,
#profile_img>i {
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 2vw;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    padding: 8px;
    top: 10px;
    cursor: pointer;
    transition: none;
}

#profile_container>i.change_background {
    left: 10px;
    ;
}

#profile_container>i.settings {
    right: 10px;
}

#profile_container>i.follow {
    right: 10px;
    font-size: 4vw;
    background-color: transparent;
}

#profile_container>#background_img {
    width: 100%;
    -webkit-filter: blur(5px);
    /*Safari 6.0 - 9.0 */
    filter: blur(5px);
}

#profile_container>section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#profile_img {
    position: relative;
    height: 25vw;
    width: 25vw;
    margin: 0 auto;
}

#profile_img>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.411);
}

#profile_img>i {
    top: 20vw;
    right: 3.4vw;
}

#profile_info {
    text-align: center;
    color: white;
    max-width: 60vw;
}

#profile_info>h2 {
    margin: 0;
    font-size: 3.5vw;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.507);
}

#profile_info>p {
    margin: 0;
    font-size: 2.5vw;
    font-family: 'Parisienne', cursive;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.507);
}