#profile_container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background-color: gray;
    width: 100%;
    background-image: url("https://images.mentalfloss.com/sites/default/files/styles/mf_image_16x9/public/111798556-565x376_1.jpg?itok=CX04tBbz&resize=1100x1100");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#profile_header > #icon_row > i{
    z-index: 1;
    position: absolute;
    color: white;
    font-size: 26px;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    padding: 8px;
    top: 10px;
    cursor: pointer;
    transition: none;
}

#profile_container i.change_background {
    left: 10px;
}

#profile_container i.settings, #profile_container i.follow {
    right: 10px;
}

#profile_header{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile_header > #icon_row{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 60px;
}
#profile_img {
    position: fixed;
    height: 270px;
    width: 270px;
    margin: 0 auto;
}
#profile_img>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.411);
}
#profile_img>i {
    bottom: 22px;
    right: 22px;
    position: absolute;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    padding: 8px;
    color: white;
}

#profile_main{
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.925);
    padding-top: 15px;
    box-shadow: 0 -10px 50px 50px rgba(255, 255, 255, 0.925);
    z-index: 1;
    width: 100%;
    text-align: center;
    min-height: calc(100vh - 60px);
    padding: 15px 20px 0 20px;
}

#profile_main>*{
    width: 100%;
    max-width: 550px;
}

#follow_container{
    display: flex;
    justify-content: center;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-radius: 5px;
    padding: 0 20px;
}

#follow_container > a > h3{
    padding: 0;
    margin: 0;
}

#follow_container > a{
    margin: 10px;
    color: black;
}

#profile_info > p{
    width: 100%;
    word-break: break-all;
}
/*
#profile_container>#profile_info_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50px;
}

#profile_img {
    position: relative;
    height: 25vw;
    width: 25vw;
    margin: 0 auto;
}

#profile_img>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.411);
}

#profile_img>i {
    top: 20vw;
    right: 3.4vw;
}

#profile_info {
    text-align: center;
    color: white;
    max-width: 60vw;
}

#profile_info>h2 {
    margin: 0;
    font-size: 3.5vw;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.507);
}

#profile_info>p {
    margin: 0;
    font-size: 2.5vw;
    font-family: 'Parisienne', cursive;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.507);
}

#follow_followers{
    text-align: center;
    left: 50%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    display: flex;
}

#follow_followers > a{
    padding: 5vw;
    text-decoration: none;
    color: white;
}

#follow_followers > a > div{
    width: 10vw;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0.411);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}*/