.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: visibility .3s, opacity .3s;
    transition-timing-function: cubic-bezier(0.275, 0.82, 0.165, 1);
    z-index: 3;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.404);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal.is_visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.modal>.responsive_form{
    overflow-y: auto;
    box-shadow: 0 5px 15px rgb(104, 104, 104);
    background-color: white;
}

.cancel_modal {
    position: absolute;
    right: 13px;
    top: 13px;
}

.responsive_form{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.responsive_form>fieldset{ /* Tar bort standard-CSS */
    border: none;
    margin: 0;
    padding: 0;
    height: 100%; /* Måste ta upp hela form, annars försvinner formuläret vid klick */
}

.responsive_form .form_row {
    display: flex;
    flex-wrap: wrap;
}

.responsive_form .input_container {
    position: relative;
    flex-grow: 1;
    min-width: 200px;
    margin: 12px 20px;
}

.responsive_form span {
    pointer-events: none;
    position: absolute;
    line-height: 40px;
    left: 0;
    top: 0;
    transition: .2s ease;
    opacity: 0.5;
}

.responsive_form input,
.responsive_form textarea,
.responsive_form button {
    height: 40px;
    width: 100%;
    border: 1px solid #efefef;
    outline: none;
    box-shadow: 0 0 3px rgba(232, 232, 232, 0);
    transition: box-shadow .2s;
    border-radius: 5px;
    overflow: hidden;
}

.responsive_form input,
.responsive_form textarea,
.responsive_form .input_container>span,
.responsive_form>.form_row {
    padding: 0 10px;
}

.responsive_form input:focus,
.responsive_form textarea:focus {
    box-shadow: 0 0 3px rgb(221, 221, 221);
}

.responsive_form input.error {
    border: 2px solid red;
}

.responsive_form input:focus+span,
.responsive_form input:not(:placeholder-shown)+span,
.responsive_form textarea:focus+span,
.responsive_form textarea:not(:placeholder-shown)+span {
    opacity: 1;
    font-size: 11px;
    transform: translateY(-30px) translateX(-10px);
}

.responsive_form button {
    border: none;
    font-size: 16px;
    background: rgba(230, 230, 230, 0.27);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22);
    transition: box-shadow .2s, background-color .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.responsive_form button::before {
    content: '';
    position: absolute;
    background: rgba(230, 230, 230, 0.63);
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transition: .4s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: right;
    z-index: -1;
}

.responsive_form button:hover::before {
    transform: none;
}

.responsive_form button::after {
    font-family: "Material Icons";
    content: 'input';
    margin-left: 7px;
}

@media (min-width:768px){
    .modal{
        transform: none;
    }
    .modal>.responsive_form{
        height: auto;
        max-width: 600px;
        border-radius: 5px;
    }
}