
#upload_form{
    position: relative;
    top: 60px;
}

#settings_header{
    position: relative;
    display: grid;
    text-align: center;
}

#background_img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("https://i.imgur.com/hQPW4K7.jpg");
    background-position: center;
    background-size: cover;
    padding: 50px 0;
    height: 250px;
}

.input_container{
    padding: 15px;
}

@media (min-width:768px) {
    #profile_img{
        width: 30vw;
        height: 30vw;
    }
}