
#upload_form{
    position: relative;
    top: 60px;
    max-width: 800px;
    margin: auto;
}

#settings_header{
    position: relative;
    display: grid;
    text-align: center;
    z-index:2;
}

#delete_account_link{
    display: flex;
    justify-content: flex-end;
    margin: 20px 30px 15px;
}

#delete_account_link:hover{
    color: red;
}
