body{
    background-color: white;
    font-family: Helvetica, sans-serif;
}

.timeline{
    position: relative;
    width: 100%;
    margin: 25px auto 0 auto;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgba(0, 0, 0, 0.397);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container{
    position: relative;
    background-color: inherit;
    width: 50%;
    box-sizing: border-box;
}

.container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid rgb(79, 173, 236);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container.left{
    padding: 10px 40px 10px 10px;
    left: 0;
}

.container.right{
    padding: 10px 10px 10px 40px;
    left: 50%;
}

.container.left::before, .container.right::before{
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    border: medium solid rgba(0, 0, 0, 0.397);
}

.container.left::before{
      right: 30px;
      border-width: 10px 0 10px 10px;
      border-color: transparent transparent transparent rgba(0, 0, 0, 0.397);
}

.container.right::before{
    left: 30px;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(0, 0, 0, 0.397) transparent transparent;
}

.container.right::after{
    left: -16px;
}

.container .content{
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.397);
    position: relative;
    border-radius: 9px;
}

.container .content > img{
    position: relative;
    top: 0;
    width: 100%;
    border-radius: 6px;
}
.container .content > .location{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-text-stroke: 0.7px black;
    color: white;
    font-size: 25px;
    text-align: center;
}


@media screen and (max-width: 750px){
    .timeline::after{
        left: 31px;
    }

    .container.left, .container.right{
        width: 100%;
        padding: 10px 25px 10px 70px;
    }

    .container.left::before, .container.right::before{
        left: 60px;
        border-width: 10px 10px 10px 0;
        border-color: transparent #474e5d transparent transparent;
    }

    .container.left::after, .container.right::after{
        left: 15px;
    }

    .container.right{
        left: 0%;
    }
}