{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% if not("username" in session) %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_signup.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive_form.css') }}">
{% endif %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/album.css') }}">
{% endblock head %}

{% block main %}
{% if owns_album %}
<a href="{{ url_for('image.edit_album', album_id=album_id) }}" id="edit_album" class="button_container">
    <i class="material-icons-outlined button_icon_container">edit</i>
    <div class="button_text_container">
        <span>Edit album</span>
    </div>
</a>
{% endif %}
<section id="album_container">
    <div id="post_image_container">
        <div id="gallery_toggle">
            <div class="button_container">
                <i class="material-icons-outlined button_icon_container">apps</i>
            </div>
        </div>
        <a id="slide_control_left" class="slide_control" onclick="plus_slides(-1)"><i
                class="material-icons-outlined">chevron_left</i></a>
        <a id="slide_control_right" class="slide_control" onclick="plus_slides(1)"><i
                class="material-icons-outlined">chevron_right</i></a>
        {% for post in posts %}
        <div class="slide">
            <img src="{{  url_for('image.uploaded_images', image_id=post[0]) }}" alt= "{{post[1]}}">
        </div>
        {% endfor %}

        <div id="post_image_thumbnail_container">
            {% for post in posts %}
            <div class="thumbnail">
                <img src="{{  url_for('image.uploaded_images', image_id=post[0]) }}"
                    onclick="current_slide('{{post[3]+1}}')" alt="{{post[1]}}">
            </div>
            {% endfor %}
        </div>
    </div>
    <section id="post_text_description_container">
        {% for post in posts %}
        <article class="post_text_description">
            <h1>{{ post[1] if not None}}</h1>
            <h2>{{ album_info[0] }}</h2>
            <div class="dash"></div>
            <h3> by <a href="{{ url_for('user.profile', username=album_info[7]) }}">{{ album_info[4] }}
                    {{ album_info[5] }}</a></h3>
            <p>{{ post[2] if not None}}</p>
        </article>
        {% endfor %}
    </section>
</section>

{% endblock main %}
{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/album.js') }}"></script>
{% endblock javascript%}