{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_album.css') }}">
{% endblock head %}

{% block main %}

<form id="upload_form">
    <fieldset>
        <a href="#" class="cancel_modal"><i class="material-icons">close</i></a>
        <h1>Create Album</h1>
        <div class="input_container">
            <input id="country" type="text" name="country" placeholder=" " required>
            <span>Country</span>
        </div>
        <div class="input_container">
            <input id="city" type="text" name="city" placeholder=" " required>
            <span>City</span>
        </div>
        <div class="input_container">
            <label for="date_start">From</label>
            <input id="date_start" type="date" max="2020-12-31" required>
        </div>
        <div class="input_container">
            <label for="date_end">To</label>
            <input id="date_end" type="date" max="2020-12-31" required>
        </div>

        <div class="input_container">
            <button type="submit">Upload album</button>
        </div>
    </fieldset>
</form>

<section id="preview">
    <input id="upload" type="file" multiple>
    <div id="upload_btn" class="locked"></div>
</section>

<section id="modal">
    <form id="upload_text">
        <fieldset>
            <a href="#" class="cancel_modal"><i class="material-icons">close</i></a>
            <h1>Text info</h1>
            <div class="form_row">
                <div class="input_container">
                    <input type="text" name="headline" placeholder=" " required>
                    <span>Headline</span>
                </div>
                <div class="input_container">
                    <input type="text" name="image_description" placeholder=" " required>
                    <span>Image discription</span>
                </div>
            </div>
        </fieldset>
    </form>
</section>

{% endblock main %}
{% block javascript %}
{{ super() }}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script src="{{ url_for('static', filename='js/create_album.js') }}"></script>
{% endblock javascript %}