{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_album.css') }}">
{% endblock head %}

{% block main %}
<form>
    <h2>Create Album</h2>

    <label for="country">Country</label>
    <input id="country" type="text">

    <label for="city">City</label>
    <input id="city" type="text">

    <label for="date_start">From</label>
    <input id="date_start" type="date">

    <label for="date_end">To</label>
    <input id="date_end" type="date">
</form>
<section id="test">
    <div id="upload_btn" class="locked"></div>
    <input id="upload" type="file" multiple>
    {%for i in range(1, 30)%}
    <div class="post">
        <p>{{ i }}</p>
        <i class="material-icons">close</i>
        <img src="https://www.w3schools.com/howto/img_parallax.jpg">
        <i class="material-icons">list</i>
    </div>
    {%endfor%}
</section>
{% endblock main %}
{% block javascript %}
{{ super() }}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script src="{{ url_for('static', filename='js/create_album.js') }}"></script>
{% endblock javascript %}