{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create_album.css') }}">
{% endblock head %}

{% block main %}
<form id="upload_form">
    <h2>Create Album</h2>

    <label for="country">Country</label>
    <input id="country" type="text">

    <label for="city">City</label>
    <input id="city" type="text">

    <label for="date_start">From</label>
    <input id="date_start" type="date">

    <label for="date_end">To</label>
    <input id="date_end" type="date">
    <input type="submit" value="Upload">
</form>
<section id="test">
    <input id="upload" type="file" multiple>
    <div id="upload_btn" class="locked"></div>
</section>
{% endblock main %}
{% block javascript %}
{{ super() }}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script src="{{ url_for('static', filename='js/create_album.js') }}"></script>
{% endblock javascript %}