{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive_form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_album.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lightpick.css') }}">
{% endblock head %}

{% block main %}
<section class="album_grid_container">
    <div class="progress_bar" id="upload_progress_bar"></div>
    <!-- Album information -->
    <form id="upload_form" class="responsive_form">
        <fieldset>
            <a class="cancel_form"><i class="material-icons">close</i></a>
            <h2>{{ "Edit album" if album_info is defined else "Create album" }}</h2>
            <div class="form_row">
                <div class="input_container">
                    <input id="country" type="text" name="country" placeholder=" " value="{{ album_info[0] if album_info is defined }}" required>
                    <span>Country</span>
                </div>
                <div class="input_container">
                    <input id="city" type="text" name="city" placeholder=" " value="{{ album_info[1] if album_info is defined }}" required>
                    <span>City</span>
                </div>
                <div class="input_container">
                    <input id="period" type="text" placeholder=" " value="{{ (album_info[2].strftime('%Y-%m-%d') + ' - ' + album_info[3].strftime('%Y-%m-%d')) if(album_info is defined) }}" required>
                    <span>Date period</span>
                </div>
                <!-- Knapp för att ladda upp alla bilder -->
                <div class="input_container">
                    <!-- Det står "Upload album" om ett nytt album skapas och "Save changes" ifall ett album ändras -->
                    <button type="submit">{{ "Upload album" if(album_info is not defined) else "Save changes" }}</button>
                    <a href="" id="album_info_btn">How to crop your photos</a>
                </div>
            </div>
        </fieldset>
    </form>

    <!-- Förhandsvisningav bilder, samt sortera dem -->
    <section id="preview">
        <input id="upload" type="file" accept="image/*" multiple>
        <!-- Knapp för uppladdning av bilder -->
        <div id="upload_btn" class="locked"></div>
        <!-- Uppladdade bilder kommer hamna här -->
        {% if posts is defined %}
            {% for post in posts %}
                <div class='post' data-headline='{{ post[1] if post[1] }}' data-description='{{ post[2] if post[2]}}'>
                    <div class='button_container img_close'>
                        <div class='button_text_container'>
                            <span>Delete image</span>
                        </div>
                        <i class='material-icons button_icon_container'>close</i>
                    </div>
                    <div class='button_container img_modal_open'>
                        <i class='material-icons button_icon_container'>info</i>
                        <div class='button_text_container'>
                            <span>Image info</span>
                        </div>
                    </div>
                    <img src="{{  url_for('image.uploaded_images', image_id=post[0]) }}">
                    <i class='material-icons reorder'>reorder</i>
                </div>
            {% endfor %}
        {% endif %}
    </section>
</section>

<!-- Ruta för att lägga till text för bilder -->
<section class="modal" id="img_info_modal">
    <form class="image_info responsive_form">
        <a class="cancel_modal"><i class="material-icons">close</i></a>
        <h2>Image info</h2>
        <img class="img_preview">
        <div class="form_row">
            <div class="input_container">
                <input type="text" name="headline" placeholder=" " required>
                <span>Headline</span>
            </div>
        </div>
        <div class="form_row">
            <div class="input_container">
                <textarea name="description" placeholder=" "></textarea>
                <span>Image description</span>
            </div>
        </div>
        <div class="form_row">
            <div class="input_container" id="modal_save_img_info">
                <button type="submit">Save</button>
            </div>
        </div>
    </form>
</section>

{% endblock main %}
{% block javascript %}
{{ super() }}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/lightpick.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_album.js') }}"></script>
{% endblock javascript %}