{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_albums.css') }}">

    <!-- Endast ifall användaren är inloggad -->
    {% if("username" in session) %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/explore_tabs.css') }}">
    {% endif %}
{% endblock head %}

{% block main %}
    {% if("username" in session) %}
    <section id="explore_tabs" class="tabs is_visible">
        <a href="#" class="explore_tab following active">
            <h2>Following</h2>
        </a>
        <a href="#" class="explore_tab explore">
            <h2>Explore</h2>
        </a>
    </section>
    {% endif %}
    <section id="explore">
        {% if explore_albums is defined %}
            {% for album in explore_albums %}
            <div class="album">
                <a class="album_link" href="{{ url_for('image.album', album_id=album[0]) }}"></a>
                <img src="{{ url_for('image.uploaded_images', image_id=album[5]) }}">
                <div class="info_circle">
                    <h1 class="city flex_font">{{ album[1] }}</h1>
                    <h2 class="country flex_font">{{ album[2] }}</h2>
                    <i class="material-icons">camera_alt</i>
                    <a href="{{ url_for('user.profile', username=album[6]) }}" class="author">{{ album[3] + " " + album[4] }}</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </section>
    <section id="following">
        {% if following_albums is defined %}
            {% for album in following_albums %}
            <div class="album">
                <a class="album_link" href="{{ url_for('image.album', album_id=album[0]) }}"></a>
                <img src="{{ url_for('image.uploaded_images', image_id=album[5]) }}">
                <div class="info_circle">
                    <h1 class="city flex_font">{{ album[1] }}</h1>
                    <h2 class="country flex_font">{{ album[2] }}</h2>
                    <i class="material-icons">camera_alt</i>
                    <a href="{{ url_for('user.profile', username=album[6]) }}" class="author">{{ album[3] + " " + album[4] }}</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </section>
{% endblock main %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/explore_tabs.js') }}"></script>
<script src="{{ url_for('static', filename='js/start.js') }}"></script>
{% endblock javascript %}