{% extends "layout.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_albums.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <!-- Endast ifall användaren är inloggad -->
    {% if("username" in session) %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/explore_tabs.css') }}">
    {% endif %}
{% endblock head %}

{% block main %}
    <!-- Om användaren är inloggad, visa explore_tabs -->
    {% if("username" in session) %}
        <section id="explore_tabs" class="tabs is_visible">
            <a class="explore_tab following active"><h2>Following</h2></a>
            <a class="explore_tab explore"><h2>Explore</h2></a>
        </section>
        <section id="following" class="active">
            <!-- Om  following_albums är definierat och innehåller album -->
            {% if following_albums is defined and following_albums|length > 0 %}
                <!-- Loopar igenom alla album i following_albums -->
                {% for album in following_albums %}
                    <div class="album">
                        <a class="album_link" href="{{ url_for('image.album', album_id=album[0]) }}"></a>
                        <img src="{{ url_for('image.uploaded_images', image_id=album[5]) }}">
                        <div class="info_circle">
                            <h1 class="city">{{ album[1] }}</h1>
                            <h2 class="country">{{ album[2] }}</h2>
                            <i class="material-icons">camera_alt</i>
                            <a href="{{ url_for('user.profile', username=album[6]) }}" class="author">{{ album[3] + " " + album[4] }}</a>
                        </div>
                    </div>
                {% endfor %}
            <!-- Inga album att visa, skriv ut meddelande -->
            {% else %}
                <div class="no_albums">
                    <i class="material-icons">error_outline</i>
                    <h2>No albums</h2>
                </div>
            {% endif %}
        </section>
        <!-- Döljer explore-sektion om användaren är inloggad eftersom det är following som skall visa från början -->
        <section id="explore" style="display: none;">
    {% else %}
        <!-- Är användaren inte inloggad döljs inte explore-sektionen -->
        <section id="explore" class="active">
    {% endif %}
    <!-- Om  explore_albums är definierat och innehåller album -->
    {% if explore_albums is defined and explore_albums|length > 0 %}
        <!-- Loopa igenom alla album i explore_albums -->
        {% for album in explore_albums %}
            <div class="album">
                <a class="album_link" href="{{ url_for('image.album', album_id=album[0]) }}"></a>
                <img src="{{ url_for('image.uploaded_images', image_id=album[5]) }}" alt="{{ album[2] }} - {{ album[1] }}">
                <div class="info_circle">
                    <h1 class="city">{{ album[1] }}</h1>
                    <h2 class="country">{{ album[2] }}</h2>
                    <i class="material-icons">camera_alt</i>
                    <a href="{{ url_for('user.profile', username=album[6]) }}" class="author">{{ album[3] + " " + album[4] }}</a>
                </div>
            </div>
        {% endfor %}
    <!-- Inga album att visa, skriv ut meddelande -->
    {% else %}
        <div class="no_albums">
            <i class="material-icons">error_outline</i>
            <h2>No albums</h2>
        </div>
    {% endif %}
    </section>
{% endblock main %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/explore_tabs.js') }}"></script>
<script src="{{ url_for('static', filename='js/start.js') }}"></script>
{% endblock javascript %}