<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Destination Line</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flashes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    {% endblock head %}
</head>

<body>

    {% include 'nav.html' %}
    {% include 'loader.html' %}
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <section class=flashes>
        {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}
            <button class=close_flash type="button"> confirm cookies </button>
        </div>
        {% endfor %}
    </section>
    {% endif %}
    {% endwith %}
    <!-- JAVASCRIPT -->
    {% block javascript %}
    <script src="{{ url_for('static', filename='js/login_register.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endblock javascript %}
</body>

</html>