{% block head %}
    {% if("username" not in session) %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive_form.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login_signup.css') }}">
    {% endif %}
{% endblock head %}
<section class="modal" id="login_register_modal">
    <form id="login" class="responsive_form">
        <fieldset>
            <a href="#" class="cancel_modal"><i class="material-icons-outlined">close</i></a>
            <h2>Login</h2>
            <div class="form_row">
                <div class="input_container">
                    <input class="force_lower" type="text" name="username" placeholder=" " required>
                    <span>Username</span>
                </div>
                <div class="input_container">
                    <input type="password" name="password" placeholder=" " required>
                    <span>Password</span>
                    <p id="text_warning_login">Wrong user credentials, try again!</p>
                </div>
            </div>
            <div class="form_row">
                <div class="input_container">
                    <button type="submit">Login</button>
                </div>
            </div>
            <p><a href="#register">Don´t have an account? Create one!</a></p>
        </fieldset>
    </form>
    <form id="register" class="responsive_form">
        <fieldset>
            <a href="#" class="cancel_modal"><i class="material-icons-outlined">close</i></a>
            <h2>Register</h2>
            <div class="form_row">
                <div class="input_container">
                    <input type="text" name="firstname" placeholder=" " required>
                    <span>Firstname</span>
                </div>
                <div class="input_container">
                    <input type="text" name="lastname" placeholder=" " required>
                    <span>Lastname</span>
                </div>
            </div>
            <div class="form_row">
                <div class="input_container">
                    <input class="force_lower" type="text" name="username" placeholder=" " required>
                    <span>Username</span>
                    <p id="text_warning_register_username">That username is taken, try another!</p>
                </div>
                <div class="input_container">
                    <input class="force_lower" type="email" name="email" placeholder=" " required>
                    <span>E-mail</span>
                    <p id="text_warning_register_email">This email is already registered, try another!</p>
                </div>
            </div>
            <div class="form_row">
                <div class="input_container">
                    <input type="password" name="password" placeholder=" " required>
                    <span>Password</span>
                </div>
                <div class="input_container">
                    <input type="password" name="password2" placeholder=" " required>
                    <span>Confirm password</span>
                </div>
            </div>
            <div class="form_row">
                <div class="input_container">
                    <button type="submit">Register</button>
                </div>
            </div>
            <p>
                <a href="#login">Already have an account? Login!</a>
            </p>
        </fieldset>
    </form>
</section>
{% block javascript %}
    <script src="{{ url_for('static', filename='js/login_register.js') }}"></script>
{% endblock javascript %}