<section>
    <form id="login" method="POST">
        <fieldset>
            <a href="#" class="cancel_modal"><i class="material-icons">close</i></a>
            <h1>Login</h1>
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Login">
            <p><a href="#register">Don´t have an account? Create one!</a></p>
        </fieldset>
    </form>
    <form id="register">
        <fieldset>
            <a href="#" class="cancel_modal"><i class="material-icons">close</i></a>
            <h1>Register</h1>
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Register">
            <p><a href="#login">Already have an account? Login!</a></p>
        </fieldset>
    </form>
</section>