{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
{% endblock head %}
<div id="page_loading_bar" class="progress_bar"></div>
<nav class="is_visible">
    <div id="left">
        <a href="{{ url_for('index') }}" id="logo" class="nav_link">
            <h2 id="logo_wide">Destination Line</h2>
            <h2 id="logo_icon">DL</h2>
        </a>
    </div>
    <ul>
        <li id="search_container">
            <input id="search" type="search" placeholder="Search for destinations and people...">
            <a class="nav_link">
                <i class="material-icons-outlined">search</i>
                <span>Search</span>
            </a>
            <section id="search_results">
                {% include 'loading_anim.html' %}
                <article id="destinations" class="search_category" >
                </article>
                <article id="users" class="search_category">
                </article>
            </section>
        </li>
        <!-- Visa uppladdningsknapp om inloggad -->
        {% if("username" in session) %}
        <li>
            <a href="{{ url_for('image.upload') }}" class="nav_link">
                <i class="material-icons-outlined">create_new_folder</i>
                <span>New Album</span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="/info" class="nav_link">
                <i class="material-icons-outlined">info</i>
                <span>Info</span>
            </a>
        </li>
        <li>
            <div class="dropdown">
                {% if("username" not in session) %}
                <a href="#login" id="login_register_open" class="nav_link">
                    <i class="material-icons-outlined">account_circle</i>
                    <span>Log in</span>
                </a>
                {% else %}
                <a class="nav_link">
                    <i class="material-icons-outlined">account_circle</i>
                    <span>{{ session["username"] }}</span>
                </a>
                <div class="dropdown_content">
                    <a href="{{ url_for('user.profile') }}" class="dropdown_link"><span>My Profile</span><i
                            class="material-icons-outlined">account_circle</i></a>
                    <a href="{{ url_for('user.settings') }}" class="dropdown_link"><span>Settings</span><i
                            class="material-icons-outlined">settings</i></a>
                    <a href="{{ url_for('user.logout') }}" class="dropdown_link"><span>Log out</span><i
                            class="material-icons-outlined">exit_to_app</i></a>
                </div>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>
<!-- Inkludera endast ifall användaren i utloggad -->
{% if("username" not in session) %}
{% include 'login_register.html' %}
{% endif %}
{% block javascript %}
<script src="{{ url_for('static', filename='js/nav.js') }}"></script>
{% endblock javascript %}