<div class="progress_bar" id="page_loading_bar"></div>
<nav class="is_visible">
    <div id="left">
        <a id="logo" href="{{ url_for('index') }}" class="nav_link">
            <h2 id="logo_wide">Destination Line</h2>
            <h2 id="logo_icon">DL</h2>
        </a>
    </div>
    <ul>
        <li id="search_container">
            <input id="search" type="search" placeholder="Search for places, people and more...">
            <a class="nav_link">
                <i class="material-icons">search</i>
                <span>Search</span>
            </a>
            <ul id="search_results">
                {% include 'loader.html' %}
                <li class='search_category' id='countries'>
                </li>
                <li class='search_category' id='cities'>
                </li>
                <li class='search_category' id='users'>
                </li>
            </ul>
        </li>
        <!-- Visa uppladdningsknapp om inloggad -->
        {% if("username" in session) %}
        <li>
            <a href="{{ url_for('image.upload') }}" class="nav_link">
                <i class="material-icons">create_new_folder</i>
                <span>New Album</span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="/info" class="nav_link">
                <i class="material-icons">info_outline</i>
                <span>Info</span>
            </a>
        </li>
        <li>
            <div class="dropdown">
                {% if("username" not in session) %}
                <a href="#login" id="login_register_open" class="nav_link">
                    <i class="material-icons">account_circle</i>
                    <span>Login</span>
                </a>
                {% else %}
                <a class="nav_link">
                    <i class="material-icons">account_circle</i>
                    <span>Profile</span>
                </a>
                <div class="dropdown_content">
                    <a class="dropdown_link" href="{{ url_for('user.profile') }}">My Profile</a>
                    <a class="dropdown_link" href="{{ url_for('user.settings') }}">Settings</a>
                    <a class="dropdown_link" href="{{ url_for('user.logout') }}">Logout</a>
                </div>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>
<!-- Inkludera endast ifall användaren i utloggad -->
{% if("username" not in session) %}
{% include 'login_register.html' %}
{% endif %}
<script src="{{ url_for('static', filename='js/search.js') }}"></script>