<nav class="is_visible">
    <div id="left">
        <a id="logo" href="{{ url_for('index') }}">
            <h1 id="logo_wide">Destination Line</h1>
            <h1 id="logo_icon">DL</h1>
        </a>
        <div id="search_container">
            <input id="search" type="text" placeholder="Search for places...">
            <a href="#search">
                <i class="material-icons">search</i>
                <label for="search">Search</label>
            </a>
        </div>
    </div>
    <ul id="right">
        
        <!-- Visa uppladdningsknapp om inloggad -->
        {% if("username" in session) %}
        <li>
            <a href="{{ url_for('image.upload') }}">
                <i class="material-icons">create_new_folder</i>
                <span>New Album</span>
            </a>
        </li>
        {% endif %}
        <li>
            <a href="/about">
                <i class="material-icons">info_outline</i>
                <span>Info</span>
            </a>
        </li>
        <li>
            <div class="dropdown">
                {% if("username" not in session) %}
                <a href="#login">
                    <i class="material-icons">account_circle</i>
                    <span>Login</span>
                </a>
                {% else %}
                
                <a href="#">
                    <i class="material-icons">account_circle</i>
                    <span>Profile</span>
                </a>
                <div class="dropdown-content">
                    <a class="dropdown_link" href="/profile/{{session['username']}}">My Profile</a>
                    <a class="dropdown_link" href="#">Settings</a>
                    <a class="dropdown_link" href="/logout">Logout</a>
                </div>
                {% endif %}
            </div>
        </li>
    </ul>
</nav>
<!-- Inkludera endast ifall användaren i utloggad -->
{% if("username" not in session) %}
{% include 'login_register.html' %}
{% endif %}
