{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline1.css') }}">
{% endblock head %}
{% block main %}
<input id="input_profile_img" type="file" accept="images">
<input id="input_background_img" type="file" accept="images">
<section id="profile_container">
    <!-- Det visas error nedan, bry dig inte om det. Allting fungerar som det skall -->
    <section id="profile_header" style="background-image: url('{{ url_for('image.uploaded_images', image_id=user_info[5]) if user_info[5] else url_for('static', filename='img/avatar.png') }}');"></section>
    <section id="icon_row">
        {% if session["username"] == user_info[0] %}
        <div id="change_background_img_btn" class="button_container">
            <a href="#" class="material-icons button_icon_container">add_a_photo</a>
            <div class="button_text_container">
                <a href="#"><span>Change Background</span></a>
            </div>
        </div>
        <div class="button_container">
            <a href="{{ url_for('user.settings') }}" class="material-icons button_icon_container">settings</a>
            <div class="button_text_container">
                <a href="{{ url_for('user.settings') }}"><span>Edit profile</span></a>   
            </div>
        </div>
        {% elif "username" in session %}
        <div class="button_container follow">
            <i id="follow_icon" class="material-icons button_icon_container">{{ "favorite" if is_following else "favorite_border" }}</i>
            <div class="button_text_container">
                <span>{{ "Unfollow" if is_following else "Follow" }}</span>
            </div>
        </div>
        {% endif %}
    </section>
    <section id="profile_main">
        <section id="stats_container">
            <a id="following_button">
                <h3>{{ followings|length }}</h3>
                <span>Following</span>
            </a>
            <a>
                <section id="profile_img">
                    <img src=" {{ url_for('image.uploaded_images', image_id=user_info[4]) if user_info[4] else url_for('static', filename='img/avatar.png') }}">
                    {% if session["username"] == user_info[0] %}
                    <div id="change_profile_img_btn" class="button_container">
                        <i class="material-icons button_icon_container">add_a_photo</i>
                        <div class="button_text_container">
                            <span>Change profilepicture</span>
                        </div>
                    </div>
                    {% endif %}
                </section>
            </a>
            <a id="followers_button">
                <h3>{{ followers|length }}</h3>
                <span>Followers</span>
            </a>
        </section>
        <section id="profile_info">
            <h2>{{user_info[1]}} {{user_info[2]}}</h2>
            <p>{{user_info[3] if user_info[3] != None}}</p>
        </section>
        
        <!-- Här ska album finnas -->
        <section class="albums_container">
                <h2>Album: {{album_count[0]}}</h2>
            </section>
    </section>
</section>
<div id="following">
    <i class="material-icons">close</i>
    <h2>Following:</h2>
    <div class="follow_list">
        <a class="follow_list_item">
            <div>
                <img src="https://i.kym-cdn.com/entries/icons/original/000/029/079/hellothere.jpg" alt="">
                <span>obi-wan kenobi</span>
            </div>
            <i class="material-icons">favorite</i>
        </a>
    </div>
</div>
<div id="followers">
    <i class="material-icons">close</i>
    <h2>Followers:</h2>
    <div class="follow_list">

    </div>
</div>

<!-- Tidslinje -->
{% include 'timeline1.html' %}
{% endblock main %}
{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock javascript %}

