<head>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<!-- Tidslinje -->
<section class="timeline">
    <section class="timeline_container">
        <section class="timeline_year">
            <p class="year">2010</p>
            <section class="timeline_box">
                <section class="timeline_date">
                    <p class="day">15-21</p>
                    <p class="month">Feb</p>
                </section>
            </section>
            <section class="timeline_box">
                <section class="timeline_date" style="background-color: green;">
                    <p class="day">1</p>
                    <p class="month">Jan</p>
                </section>
            </section>
        </section>
        <section class="timeline_year">
            <p class="year">2008</p>
            <section class="timeline_box">
                <section class="timeline_date">
                    <p class="day">29</p>
                    <p class="month">Oct</p>
                </section>
            </section>
            <section class="timeline_box">
                <section class="timeline_date">
                    <p class="day">29</p>
                    <p class="month">Oct</p>
                </section>
            </section>
            <section class="timeline_box">
                <section class="timeline_date">
                    <p class="day">29</p>
                    <p class="month">Oct</p>
                </section>
            </section>
            <section class="timeline_box">
                <section class="timeline_date">
                    <p class="day">29</p>
                    <p class="month">Oct</p>
                </section>
            </section>
        </section>
        <section class="timeline_year">
            <p class="year">2008</p>
            <section class="timeline_box">
                <section class="timeline_date">
                    <p class="day">29</p>
                    <p class="month">Oct</p>
                </section>
            </section>
            <section class="timeline_box">
                <section class="timeline_date">
                    <p class="day">29</p>
                    <p class="month">Oct</p>
                </section>
            </section>
            <section class="timeline_box">
                <section class="timeline_date">
                    <p class="day">29</p>
                    <p class="month">Oct</p>
                </section>
            </section>
            <section class="timeline_box">
                <section class="timeline_date">
                    <p class="day">29</p>
                    <p class="month">Oct</p>
                </section>
            </section>
        </section>
    </section>
</section>
<script src="{{ url_for('static', filename='js/timeline.js') }}"></script>