<section id="top-users">
    <div class="user_profile">
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9zkVwFWJpEWQMFOHT4MyoGziX5hoItFHOhHbl5xdcQrxnXHfang">
    </div>
    <div class="user_profile">
        <img src="https://camolab.com/perch/resources/profilelt256.png">
    </div>
    <div class="user_profile">
        <img
            src="https://lh3.googleusercontent.com/yp9Ptad3Y5PmWz-M1wr0n0HYb_iDJ0dn95qi1bXeJZkERU9rjbU7dp-SSLKBOUEBAGHevlJp0q_AANL8nNO52Vufv5pjoWahlHgT7mVJccOfpQ=s256">
    </div>
    <div class="user_profile">
        <img src="https://riskmagazine.nl/f/content-platform/author-thumb/elemans-carlijn">
    </div>
    <div class="user_profile">
        <img src="https://pbs.twimg.com/profile_images/2732599377/37859386e06ae87287b22db8924cefd8.png">
    </div>
</section>