{% extends "layout.html" %}
{% block main %}
    <form class="responsive_form" method="POST" action="">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != "hidden" and field.widget.input_type != "submit" %}
            <div class="form_row">
                <div class="input_container">
                    {{ field(placeholder=" ", class="error" if field.errors) }}
                    {{ field.label() }}
                    {% for error in field.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="form_row">
            <div class="input_container">
                {{ form.submit() }}
            </div>
        </div>
        <div class="form_row">
            <div class="input_container">
                {% if login %}
                    <p class="info"><a href="{{ url_for('user.register') }}">Don´t have an account? Create one!</a></p>
                {% else %}
                    <p class="info"><a href="{{ url_for('user.login') }}">Already have an account? Login!</a></p>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock main %}