{% extends "layout.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock css %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock javascript%}

{% block main %}
<input id="input_profile_img" type="file" accept="images">
<input id="input_background_img" type="file" accept="images">
<section id="profile_container">
    <section id="profile_header"
        style="{{ 'background-image: url(' +  url_for('static', filename='background_img/' + current_user.background_img) if current_user.background_img }}">
    </section>
    <section id="icon_row">
        <div id="change_background_img_btn" class="button_container">
            <i class="material-icons-outlined button_icon_container">add_photo_alternate</i>
            <div class="button_text_container">
                <span>Change Background</span>
            </div>
        </div>
    </section>
    <section id="profile_main">
        <section id="stats_container">
            <a>
                <section id="profile_img">
                    <img
                    src="{{ url_for('static', filename='profile_img/' + current_user.profile_img) if current_user.profile_img else url_for('static', filename='img/avatar.png') }}">
                    <div id="change_profile_img_btn" class="button_container">
                        <i class="material-icons-outlined button_icon_container">add_a_photo</i>
                        <div class="button_text_container">
                            <span>Change profilepicture</span>
                        </div>
                    </div>
                </section>
            </a>
        </section>
    </section>
</section>

<div id="settings_header">
    <h1>Settings</h1>
</div>

<form id="upload_form" class="responsive_form" method="POST">
    <h2>Profile</h2>
    {{ form.hidden_tag() }}
    <div class="form_row">
        <div class="input_container">
            {{ form.firstname(placeholder=" ", class="error" if form.firstname.errors, value=current_user.firstname) }}
            {{ form.firstname.label() }}
            {% for error in form.firstname.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="input_container">
            {{ form.lastname(placeholder=" ", class="error" if form.lastname.errors, value=current_user.lastname) }}
            {{ form.lastname.label() }}
            {% for error in form.lastname.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form_row">
        <div class="input_container">
            {{ form.biography(placeholder=" ", class="error" if form.biography.errors, value=current_user.biography if current_user.biography else "") }}
            {{ form.biography.label() }}
            {% for error in form.biography.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <h2>User & E-mail</h2>
    <div class="form_row">
        <div class="input_container">
            {{ form.username(placeholder=" ", class="error" if form.username.errors, value=current_user.username) }}
            {{ form.username.label() }}
            {% for error in form.username.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="input_container">
            {{ form.email(placeholder=" ", class="error" if form.email.errors, value=current_user.email) }}
            {{ form.email.label() }}
            {% for error in form.email.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <h2>Password</h2>
    <div class="form_row">
        <div class="input_container">
            {{ form.new_password(placeholder=" ", class="error" if form.new_password.errors) }}
            {{ form.new_password.label() }}
            {% for error in form.new_password.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="input_container">
            {{ form.confirm_new_password(placeholder=" ", class="error" if form.confirm_new_password.errors) }}
            {{ form.confirm_new_password.label() }}
            {% for error in form.confirm_new_password.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="form_row">
        <div class="input_container">
            {{ form.submit() }}
        </div>
    </div>
    <div id="delete_account" class="button_container">
        <i class="material-icons-outlined button_icon_container">delete</i>
        <div class="button_text_container">
            <span>Delete account</span>
        </div>
    </div>
</form>
{% endblock main %}